body {
  display: grid;
  grid-template-rows: 50px 50px 230px;
  justify-content: center;
  justify-items: center;
}

.words h1{
  font-family: Arial;
  color: midnightblue;
}

.i {
  border:midnightblue 5px solid;
}