<!doctype html>

<html>

<head>
    <title> Hello World Page! </title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style1.css'%}" type="text/css">
</head>
<body>
    <div class = "words">
        <h1> Hi! </h1>
        <h2> Welcome to the innovation with python training!</h2>
    </div>
    
    <div class="image">
        <figure>
            <img src = "https://tinyurl.com/4zc8znzj">
            <figcaption> Hello! </figcaption>
        </figure>
    </div>    

</body>
</html>