<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style1.css'%}" type="text/css">
  
<body>
    <div class="words">
        <h1> Hi! </h1>
        
    </div>
    <div class="words">
        <h2> Welcome to innovation with Python!</h2>
    </div>

    <div class="i">
        <img src="{% static 'bear.gif' %}">
    </div>
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="submit">

        </form>
    </div>
</body>

</html>